html {
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 15px;
	cursor: none;
}

@font-face {
	font-family: terminal; /* set name */
	src: url(font.ttf); /* url of the font */
}

a {
	color: rgb(0,255,255);
	text-decoration: none;
}

.head {
	font-size: 50px;
	margin: 0;
}

.subhead {
	font-size: 30px;
}

.banner {
	margin: 0;
	width: 100%;
}

.box {
	background-color: black;
	border: 2px solid white;
	width: 45%;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
}
